*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev-button{
  content: url(../assets/button-slider-left.svg);
}

.prev-button:hover{
  content: url(../assets/button-slider-left-hover.svg);
}

.next-button {
  content: url(../assets/button-slider-right.svg);
}

.next-button:hover{
  content: url(../assets/button-slider-right-hover.svg);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.btn-carrusel{
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

header {
  height: 95px;
  background: white;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

header .line {
  height: 3px;
  width: 100%;
  background: #572EE5;
}

header .logo{
  height: 3.9%;
  width: 4.1%;
  margin-left: 10.8%;
  margin-top: 5px;
}

header .navigation{
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin-right: 10.8%;
  align-items: center;
}

header .navigation .menu ul {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  background: unset;
  height: unset;
}

header .navigation .menu ul li {
  padding: 5px 10px;
  display: inline-block;
}

header .navigation .menu ul li:hover {
  background: unset;
}

header .navigation .menu ul li a {
  padding: unset;
  color: #572EE5;
  line-height: unset;
  text-decoration:none
}

header .navigation .menu ul li a:hover {
  color: aqua;
}

main .container1{
  width: 100%;
  text-align:center;
}

main .container1 h1{
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 50px;
}

main .container1 .colgif{
  color:aqua;
}

.searchText {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
   border-radius: 50px;
   border: 1px solid #572EE5;
   width: 550px;
   height: 50px;
   padding-left: 40px;
   font-size: 15px;
   background: url(../assets/icon-search.svg) no-repeat scroll 7px 7px;
   background-position-x: 96%;
   background-position-y: 50%;
}

.searchText:focus {
  outline: none;
}

.img1 {
  padding-right: 50px;
}

main .description{
  margin: 10%;
}

main .description h4{
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
}

main .description .p-p{
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

main .container2{
  margin-top: 10%;
  text-align: center;
  background: #F3F5F8;
}

main .container2 .p-b{
  font-size: 18px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

main .container2 h2{
  padding-top: 4.4% ;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;

}

main .slideshow-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
}

main .mySlides .trendingImg{
  height: 275px;
  width: 357px;
  margin: 20px;
}

main .container1 h4{ 
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.styleSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.div-gifs {
  display: block;
  width: 19%;
  margin: 10px;
}

.buttonSeeMore {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-top: 50px;
}

.hiddenButton {
  display: none;
}

footer .footer1{
  display: flex;
  justify-content: space-between;
  margin: 3.7%;
}

footer .footer1 p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #000;
  margin-right: 11%;
  margin-left: 11%;
}

footer .footer1 ul li{
  display: inline-block;
}

footer .footer1 ul li a i{
  padding: 10px;
  color: #CDD6E0;
}

footer .footer1 ul li a i:hover{
  color:  #572EE5;
}

footer .line-bottom{
  height: 3px;
  width: 100%;
  background: #572EE5;
}