*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

header {
  height: 95px;
  background: white;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

header .line {
  height: 3px;
  width: 100%;
  background: #572EE5;
}

header .logo{
  height: 3.9%;
  width: 4.1%;
  margin-left: 10.8%;
  margin-top: 5px;
}

header .navigation{
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin-right: 10.8%;
  align-items: center;
}

header .navigation .menu ul {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  background: unset;
  height: unset;
}

header .navigation .menu ul li {
  padding: 5px 10px;
  display: inline-block;
}

header .navigation .menu ul li:hover {
  background: unset;
}

header .navigation .menu ul li a {
  padding: unset;
  color: #572EE5;
  line-height: unset;
  text-decoration:none
}

header .navigation .menu ul li a:hover {
  color: aqua;
}

main .container1{
  width: 100%;
  text-align:center;
}

main .container1 h1{
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 50px;
}

main .container1 .colgif{
  color:aqua;
}

.searchText {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
   border-radius: 50px;
   border: 1px solid #572EE5;
   width: 550px;
   height: 50px;
   padding-left: 40px;
   font-size: 15px;
   background: url(../assets/icon-search.svg) no-repeat scroll 7px 7px;
   background-position-x: 96%;
   background-position-y: 50%;
}

.searchText:focus {
  outline: none;
}

.img1 {
  padding-right: 50px;
}

main .description h4{
  margin-top: 10%;
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
}

main .description .p-p{
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

main .container2{
  margin-top: 10%;
  text-align: center;
}

main .container2 .p-b{
  font-size: 18px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

main .container2 h2{
  margin-top: 10%;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
}

main .slideshow-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .mySlides .trendingImg{
  height: 275px;
  width: 357px;
  margin: 20px;
}